In [119]:
# https://www.kaggle.com/itratrahman/nlp-tutorial-using-python
import numpy as np
import pandas as pd
import string

# include first time if not downloaded
import nltk
nltk.download('stopwords')

# pip install nltk

#import nltk
#from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\Users\louie.LAURENCE-
[nltk_data]     LAPTOP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [120]:
# Reading the data from Order Narrative,Result Comment, Impression and Completed Results Clarity Tables
# This file has unicode encoding thus needing encoding parm

df_patients        = pd.read_csv("C:/Users/louie.LAURENCE-LAPTOP/Documents/Jupyter Notebook/identified_patients.csv",encoding="latin1")

df_patient_notes   = pd.read_csv("C:/Users/louie.LAURENCE-LAPTOP/Documents/Jupyter Notebook/patient_notes.csv",encoding="latin1")

In [121]:
# Display patientds df
df_patients

   Patient_Number
0           12345
1           23456
2           34567
3           45678
4           56789
5           56999
6           60000

In [122]:
# drop NaN
df_patient_notes   = df_patient_notes.dropna(subset=['Appointment Notes'])

In [123]:
df_patient_notes

   Patient_Number Appointment_Date              Appointment Notes
1           23456       01/23/2001        #1. Fasting Blood Sugar
2           23456       01/23/2001           He is having Chills
3           23456       01/23/2001                         Nausea
4           34567       02/27/2001      He has a very Sore Throat
6           45678       02/28/2001       Her fever is really high
7           45678       02/28/2001  Could not sleep due to chills
8           45678       02/28/2001                #5. Lipid panel

In [124]:
# Remove Numbers 
df_patient_notes['Appointment Notes']  = df_patient_notes['Appointment Notes'].replace('\d+', '', regex=True)

In [125]:
df_patient_notes

   Patient_Number Appointment_Date              Appointment Notes
1           23456       01/23/2001         #. Fasting Blood Sugar
2           23456       01/23/2001           He is having Chills
3           23456       01/23/2001                         Nausea
4           34567       02/27/2001      He has a very Sore Throat
6           45678       02/28/2001       Her fever is really high
7           45678       02/28/2001  Could not sleep due to chills
8           45678       02/28/2001                 #. Lipid panel

In [126]:
# Function to remove punctuation
def remove_punctuation(text):
    # replacing the punctuations with no space, 
    # which in effect deletes the punctuation marks 
    translator = str.maketrans('', '', string.punctuation)
    # return the text stripped of punctuation marks
    return text.translate(translator)

In [127]:
# Apply Remove Punctuation Function to df
df_patient_notes['Appointment Notes']   = df_patient_notes['Appointment Notes'].apply(remove_punctuation)

In [128]:
df_patient_notes

   Patient_Number Appointment_Date              Appointment Notes
1           23456       01/23/2001            Fasting Blood Sugar
2           23456       01/23/2001           He is having Chills
3           23456       01/23/2001                         Nausea
4           34567       02/27/2001      He has a very Sore Throat
6           45678       02/28/2001       Her fever is really high
7           45678       02/28/2001  Could not sleep due to chills
8           45678       02/28/2001                    Lipid panel

In [129]:
# Convert to lower case
# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lower.html

df_patient_notes['Appointment Notes']   = df_patient_notes['Appointment Notes'].str.lower()

In [130]:
# Displaying the head of the df
df_patient_notes.head(2)

   Patient_Number Appointment_Date     Appointment Notes
1           23456       01/23/2001   fasting blood sugar
2           23456       01/23/2001  he is having chills

In [131]:
# Removing stopwords

In [132]:
# Extract the stop words from nltk library
sw = stopwords.words('english')
# displaying the stopwords
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [133]:
# Print stopwords count
print("Number of stopwords: ", len(sw))

Number of stopwords:  179

In [134]:
# Function to remove stopwords
def func_stopwords(text):
    # removing the stop words
    text = [word for word in text.split() if word not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [135]:
# Apply the stopwords function to df
df_patient_notes['Appointment Notes']   = df_patient_notes['Appointment Notes'].apply(func_stopwords)

In [136]:
# Displaying the head of the df
df_patient_notes.head(2)

   Patient_Number Appointment_Date    Appointment Notes
1           23456       01/23/2001  fasting blood sugar
2           23456       01/23/2001               chills

In [137]:
# Find keywords for COVID 19
#Whitelist

df_patient_notes = df_patient_notes[df_patient_notes['Appointment Notes'].str.contains('fever|chills|cough|shortness breath|difficulty breathing|fatigue|muscle ache|body ache|nausea|headache|new loss taste|new loss smell|sore throat|congestion|runny nose|nausea|vomiting|diarrhea')]

In [138]:
# Adjust column width
pd.options.display.max_colwidth = 500

In [139]:
# Add source column
# https://stackoverflow.com/questions/29517072/add-column-to-dataframe-with-constant-value

df_patient_notes.insert(0, 'Source', 'Possible COVID 19')

In [140]:
# Display DF
df_patient_notes

              Source  Patient_Number Appointment_Date       Appointment Notes
2  Possible COVID 19           23456       01/23/2001                  chills
3  Possible COVID 19           23456       01/23/2001                  nausea
4  Possible COVID 19           34567       02/27/2001             sore throat
6  Possible COVID 19           45678       02/28/2001       fever really high
7  Possible COVID 19           45678       02/28/2001  could sleep due chills

In [141]:
# Convert to List
appt_patient_number_list       = df_patient_notes.Patient_Number.unique().tolist()

patient_number_list           = df_patients.Patient_Number.tolist()

In [142]:
# Count of 1st 50 mnrs
print(len(patient_number_list))

7

In [143]:
for Patient_Number in patient_number_list:
    print(Patient_Number)

12345
23456
34567
45678
56789
56999
60000

In [144]:
# Scan if pateints not in Covid mrn list
# https://stackoverflow.com/questions/17071871/how-do-i-select-rows-from-a-dataframe-based-on-column-values

missing_patients = df_patients.loc[~df_patients['Patient_Number'].isin(appt_patient_number_list)]

found_patients = df_patients.loc[df_patients['Patient_Number'].isin(appt_patient_number_list)]

In [145]:
print(len(found_patients))

3

In [148]:
print(found_patients)

   Patient_Number
1           23456
2           34567
3           45678

In [149]:
print(len(missing_patients))

4

In [150]:
print(missing_patients)

   Patient_Number
0           12345
4           56789
5           56999
6           60000